.Posts {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .post-image {
    width: 260px;
    height: 260px;
    background-color: lightsteelblue;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: gray;
  }
}
